/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */

html {
    color-scheme: dark light;
}

/* min body height */

body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

:root {
    --neutral-dark: hsl(0, 0%, 9%);
    --neutral-light: hsl(0, 0%, 78%);
    --neutral-grey: hsl(0, 0%, 48%);
    --neutral-dark-grey: hsl(0, 0%, 13%);
    --neutral-faint: hsla(0, 0%, 48%, 0.5);
    --primary: hsl(347, 57%, 58%);
    --primary-light: hsl(347, 57%, 68%);
    --primary-accent: hsl(347, 70%, 44%);
    --secondary: #ebec88;
    --secondary-hover: hsla(0, 0%, 19%, 0.288);

    --map-control__directional-pad--border: solid 1px var(--neutral-grey);
    --map-control__directional-pad--room-names: var(--neutral-faint);

    --font-family: 'Press Start 2P', cursive;

}


body {

    font-family: 'Press Start 2P', cursive;
    background-color: var(--neutral-dark-grey);
    color: var(--neutral-light);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;


}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    isolation: isolate;

    align-items: center;
    background-color: var(--neutral-dark-grey);

}

.wrapper::before {
    position: absolute;
    content: '';


    box-shadow: 0 1px 2px 0 var(--primary);



    inset: 0;
    transform: rotate(-20deg) translateY(50%);

    z-index: -1;

}

.wrapper::after {
    position: absolute;
    content: '';


    box-shadow: 0 1px 2px 0 var(--primary);


    inset: 0;
    transform: rotate(20deg) translateY(50%);

    z-index: -1;

}


.display {
    display: flex;

    min-width: 50%;

    position: relative;
    flex-direction: column;

    border-left: none;
    border-right: none;
    border-top: none;

}

.display__time {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    border-bottom: solid 1px var(--primary);
    color: var(--primary-light);

    margin-bottom: 7rem;
}

.display__time--day,
.display__time--hours,
.display__time--period {
    margin: 0 1.2rem 0 1.2rem;
    white-space: nowrap;
}

.display__text {
    position: absolute;
    top: 30%;
    padding: 0 1rem 0 1rem;
    font-size: .8rem;
    text-align: start;

}


.display__button-grid--btn {
    border: solid 2px var(--neutral-grey);
    border-bottom: none;
    background: none;
    color: var(--secondary);
    font-size: .8rem;
    padding: .2rem .5rem .2rem .5rem;
    font-family: 'Press Start 2P', cursive;
}

.map-control__directional-pad--investigate {
    display: none;
    font-family: var(--font-family);
    font-size: 2rem;
    grid-column: 1;
    grid-row: 1;
    border: 1px dashed var(--neutral-faint);
    border-top: none;
    border-left: none;
    background: none;


    color: var(--secondary);
}

.map-control__directional-pad--continue {
    display: none;
    font-family: var(--font-family);

    font-size: 2rem;
    grid-column: 3;
    grid-row: 1;
    border: 1px dashed var(--neutral-faint);
    border-top: none;
    border-right: none;
    background: none;
    color: var(--secondary);

}

.map-control__directional-pad--start-button {
    background: none;
    border: none;
    font-family: var(--font-family);
    color: var(--secondary);
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
}



.map-control {

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: double 1px var(--neutral-faint);

    box-shadow: inset 0 15px 50px -40px var(--primary),
        inset 0 -40px 50px -40px var(--primary);

    overflow: hidden;
    padding: 2rem 0 0 0;
    background-color: var(--neutral-dark);

}

.map-control::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 70%;
    transform: rotate(5deg) translateY(85%);



    background-color: var(--neutral-dark-grey);
}

.map-control::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 70%;
    transform: rotate(-5deg) translateY(85%);



    background-color: var(--neutral-dark-grey);
}

.map-control__people-inside {
    position: absolute;
    text-align: center;
    margin-top: 1rem;
    color: var(--neutral-faint);
}

.map-control__people-inside--names li {
    font-size: .8rem;
    color: var(--neutral-light);
}

.map-control__people-inside--names li:nth-of-type(1) {
    rotate: 5deg;
}

.map-control__people-inside--names li:nth-of-type(2) {}

.map-control__people-inside--names li:nth-of-type(3) {
    rotate: -5deg;
}


.map-control__directional-pad {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 30%;
    aspect-ratio: 16/9;



    margin: 8rem 0 3rem 0;
}

.map-control__directional-pad--button {
    border: var(--map-control__directional-pad--border);
    font-family: var(--font-family);
    color: var(--secondary);
    font-size: .65rem;



}

.map-control__directional-pad--left {
    background-color: var(--neutral-dark);
    border: var(--map-control__directional-pad--border);
    border-left: none;
    border-right: none;
}

.map-control__directional-pad--right {
    background-color: var(--neutral-dark);
    border: var(--map-control__directional-pad--border);
    border-left: none;
    border-right: none;
}

.map-control__directional-pad--forward {
    background-color: var(--neutral-dark);
    border: var(--map-control__directional-pad--border);
    border-top: none;
    border-bottom: none;
}

.map-control__directional-pad--back {
    background-color: var(--neutral-dark);
    border: var(--map-control__directional-pad--border);
    border-top: none;
    border-bottom: none;
}

.map-button--general-disable {
    border: none;
}


.map-left--disabled {

    border-left: var(--map-control__directional-pad--border);
}

.map-right--disabled {

    border-right: var(--map-control__directional-pad--border);
}

.map-forward--disabled {

    border-top: var(--map-control__directional-pad--border);
}

.map-back--disabled {

    border-bottom: var(--map-control__directional-pad--border);
}

#left {
    grid-column-start: 1;
    grid-row-start: 2;
}

#right {
    grid-column-start: 3;
    grid-row-start: 2;
}

#forward {
    grid-column-start: 2;
    grid-row-start: 1;
}

#back {
    grid-column-start: 2;
    grid-row-start: 3;
}

#location {
    grid-column: 2;
    grid-row: 2;
}

.map-control__investigation {
    display: none;
    gap: 3rem;

    background-color: var(--neutral-dark-grey);
    width: 100%;
    justify-content: center;
    padding: 1em 2em 0 2em;

}

.map-control__investigation--case-details {
    text-align: center;

}

.map-control__investigation--case-details-list {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;


}

.map-control__investigation--case-details-list li {
    font-size: .7rem;
    color: var(--neutral-light);
    margin-top: .5rem;

}

.map-control__investigation--case-details-label {
    border-bottom: solid 1px var(--primary);
    color: var(--primary-light);

}

.map-control__directional-pad--location {
    display: flex;
    font-size: .7rem;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border-color: var(--neutral-faint);


}

.map-control__investigation--suspects {
    display: flex;
    flex-direction: column;

    row-gap: .5rem;
    transform: translateY(-17%);
    perspective: 100px;
}

.map-control__investigation--suspects-label {
    border-bottom: solid 1px var(--primary);
    color: var(--primary-light);
    transform: skewY(5deg);


}

.map-control__investigation--suspects div {
    font-size: 1rem;
    color: var(--neutral-light);
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--neutral-faint);
    transform: skewY(5deg);

}

.map-control__investigation--suspects div:hover {
    background-color: var(--primary);
}


input[type="checkbox"] {
    accent-color: var(--primary);

}

button:hover:not(:disabled) {
    background-color: var(--neutral-faint);
}


.victim {
    color: var(--primary);
}

.disabled-button {
    color: var(--neutral-faint);
    border-color: var(--neutral-faint);
}

.map-control__investigation--suspects-button {

    font-family: var(--font-family);
    font-size: .7rem;
    padding: .2rem;
    background: none;
    color: var(--secondary);
    border: none;
}

.mood-img {
    display: inline-block;
    margin-right: .5rem;

}