/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */

html {
    color-scheme: dark light;
}

/* min body height */

body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

:root {
    --button-border-color: #ff3562;
    --button-font-color: #edf060;
    --button-animation: 10px;
    --screen-background: #f3f59e;
    --screen-light: 0 0 20px 1px #f7f8ce;
    --map-highlight: 0 0 30px 1px #ff3562;
}


body {

    font-family: 'Press Start 2P', cursive;
    background: #171219;

}

.outerGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thick double #ff3562;
    box-shadow: -10px -5px 5px #ad314c;
    min-height: 40vh;
    min-width: 90%;
    max-width: 90%;
    border-radius: 50%;
    border-bottom: none;
    border-right: none;
    grid-column-start: 2;

}

.decorationContainer1 {

    position: absolute;
    border: thick double #8075ff;
    box-shadow: -10px -5px 5px #edf060;
    top: 2%;
    min-height: 40%;
    min-width: 90%;
    border-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 60%;


    border-bottom: none;
    border-right: none;
    grid-column-start: 2;
}

.time {
    position: absolute;
    background-color: var(--button-border-color);
    top: -5%;
    border-radius: 10%;
}

.time span {
    margin: 0 .2rem 0 .2rem;
}

.time-day {
    color: var(--screen-background);
}

.time-hours {
    background-color: white;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 40%;
    color: black;
}

.time-period {}


.mainBoxBorder {
    display: flex;
    align-items: center;
    font-size: .8rem;
    padding: 0 1rem 3rem 1rem;
    border-bottom: thick double;
    border-radius: 50%;
    border-color: #ff3562;
    box-shadow: 10px 5px 5px #ad314c;
    color: #ffffff;
    min-width: 90%;
    max-width: 90%;
    min-height: 25vh;

    position: relative;
}

.main-box__input {
    display: none;
}

.main-box__input--display {
    display: block;
}

button {
    font-family: 'Press Start 2P', cursive;
}

.mainbox-button-container {
    display: inline;
    position: absolute;
    right: -1rem;
    bottom: -1rem;

}

.text {
    grid-area: 1 / 1 / 1 / span 3;

}

.start-button {
    margin: auto;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.continue-button {
    display: none;
    margin: 0 0 1rem 0;
    padding: 0 2rem 0 2rem;
    transform: rotate(-5deg);
    border: none;
    color: black;
    border-radius: 40%;
    background: #cacc51;
    font-size: 2rem;
    box-shadow: 0px 0px 10px 2px #808130;
}

.investigate-button {
    display: none;
    border: none;
    padding: 1rem 0 1rem 0;
    color: white;
    border-radius: 40%;
    background: #8075ff;
    font-size: .8rem;
    margin: 0 1rem 0 0;

    box-shadow: 0px 0px 10px 2px #8075ff;
}

.investigate-button:hover {
    background: #4f489c;
}

.continue-button:hover {
    background: #eef087;

    box-shadow: -10px 0px 10px 5px #808130;
}

.continue-button:disabled {
    background: #808130;
}

.map-container__btn {
    background: none;
    color: var(--button-font-color);
    border: none;

}

.map-container__btn:hover {
    border: dotted;
    box-shadow: 0px 0px 10px 1px;
    background: none;
}

#left {
    border-right: none;
    border-left: 0.5rem dashed var(--button-border-color);
    border-radius: 20%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: 3em;
    direction: ltr;
    grid-row-start: 2;
    transition: 100ms ease-in-out;

}


#right {
    border-left: none;
    border-right: 0.5rem dashed var(--button-border-color);
    border-radius: 20%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    font-size: 3em;
    direction: rtl;
    grid-row-start: 2;
    grid-column-end: 4;
    transition: 100ms ease-in-out
}

#forward {
    border-bottom: none;
    border-top: 0.5rem dashed var(--button-border-color);
    border-radius: 20%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-size: 3em;
    grid-row-start: 1;
    grid-column-end: 3;
    transition: 100ms ease-in-out;
}

.mapTop span {
    transform: rotate(90deg);
}

#back {
    border-top: none;
    border-bottom: 0.5rem dashed var(--button-border-color);
    border-radius: 20%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    font-size: 3em;
    grid-row-start: 3;
    grid-column-end: 3;
    transition: 100ms ease-in-out;
}

.mapBottom span {
    transform: rotate(-90deg);
}

.mapLeft:hover {
    transform: translateX(calc(var(--button-animation) * -1));

}

.mapRight:hover {
    transform: translateX(var(--button-animation));
}

.mapTop:hover {
    transform: translateY(calc(var(--button-animation) * -1));
}

.mapBottom:hover {
    transform: translateY(var(--button-animation));
}

#currentLocation {
    display: none;

    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-column-end: 3;
    color: #4d3dfc;
    background: var(--screen-background);
    box-shadow: var(--screen-light);
    border-radius: 5%;

}

#currentLocation::before {
    content: '>';
    display: block;
    font-size: 1rem;
    color: #4d3dfc;

}

#currentLocation::after {
    content: '<';
    display: block;
    font-size: 1rem;
    color: #4d3dfc;

}


.disabled-button {
    --button-border-color: grey;
    --button-font-color: grey;
    --button-animation: 0;
}

.disabled-screen {
    --screen-light: none;
}

.disable-map-highlight {
    --map-highlight: 0 0 30px 1px #571120;
}


.mapControl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(2, 1fr);

    left: 25%;
    bottom: 0;
    top: 65%;
    right: 25%;
    grid-column-start: 2;
    column-gap: 1rem;
}

.map-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
    color: white;
    grid-row-start: 2;


}

.map-side-container-label {
    color: white;
    font-size: .7rem;
}


.mapContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-area: 1 / 1 / 1 / span 2;

    padding: 0.5rem;
    font-size: .8rem;
    max-height: 80%;



    border-left: double thick #ff3562;
    border-right: double thick #ff3562;
    box-shadow: var(--map-highlight);
    border-radius: 45%;

}

.people-inside {
    border-right: 2px solid var(--button-font-color);
    border-bottom-right-radius: 20%;
    padding: 1rem 1rem 1rem 0;
}

.items-inside {
    border-left: 2px solid var(--button-font-color);
    border-top-left-radius: 20%;
    padding: 1rem 0 1rem 1rem;
}